html {
  font-family: "Raleway", "Open Sans", sans-serif;
}

[class^="btn-"] {
  position: relative;
  display: block;
  overflow: hidden;
  width: 250px;
  height: 80px;
  text-transform: uppercase;
  border: 1px solid red;
  color: red;
  text-align: center;
  line-height: 80px;
  transition: 0.4s ease-in-out;
}

.btn-swipe {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: red;
    z-index: -1;
    transform: translateX(-100%);
    transition: 0.4s ease-in-out;
  }

  &:hover {
    color: white;
    cursor: pointer;

    &:before {
      transform: translateX(0);
    }
  }
}
